

.main-container{
    max-width:675px;
    margin:0 auto;
}
img{

    width:100%;
    object-fit: contain;   
    padding:0.25em;
    margin-left:1em;
    border-radius:1.5em;
    
}


.gallery-designer-info{
    display:flex;
    flex-direction:column;
    align-items: center;
   
}
.gallery-designer-info > p{
    text-align: center;
    margin-bottom: 0;
   
}
.gallery-designer-info > p > img{
    align-items: center;   
}
.basic-info{
    align-items: center;
    /* border: 2px solid green; */
   
}
.name{
margin-top:0;
margin-bottom:0;
font-size: large;
font-weight: 700;
}

.location{
    margin-bottom: 0;;
}
.profilephoto{
    object-fit: contain;
    width:20%;
}
.other-details{
    display: flex;
    justify-content: space-evenly;
   
}
.subdetails{
    padding:0.25em;
    background-color: rgb(240, 240, 240);
    border-radius:1em;
    margin:0.5em;
    width:auto;
    
    
}

.count,
.count-cateory{
text-align: center;

}
.count
{
    margin-bottom:0%;
}
.count-category,
.location{
    color:rgb(94, 102, 97);
    margin-top: 0;
}
.increase-margin{
   padding-left:1em;
   padding-right:1em;
}


.gallery{
  display:flex;
  flex-direction:column;
  /* border: 2px solid green; */
  justify-content: flex-start;
  margin-top:0;
  margin-bottom:0;
  padding:0;
}

.row{
    /* border: 2px solid red; */
    display:flex;
    justify-content: flex-start;
    margin:0;
    padding:0;
    
}
.row>p{
    margin:0;
    padding:0;
}
/* .gallery > p{
    margin:0;
    padding:0;
} */

.col{
    display:flex;
    /* border: 2px solid purple; */
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin:0;
    padding:0;
    
}

.col>p{
    margin:0;
    padding:0;
}
.sub-row1{
    display:flex;
    /* border: 2px solid blue; */
    margin-bottom: 0;
}
.sub-row1 > p{
    margin:0;
    padding:0;
}
.sub-row2{
    display: flex;
    justify-content: space-between;
    
   
}
.sub-row2 > p{
    margin:0;
    padding:0;
}

.row,
.col,
.sub-row1,
.sub-row2{
    padding:0;
    margin:0;
    /* border:2px solid black; */
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6{
  margin:0;
  padding:0.5em;
  /* border:2px solid black; */
  
}
.img1{
    width:91%;
    
}
.img2{
    width:95%;
}

.img1,.img2{
   
    margin-bottom:0;
}
.img3{
    width:95%;
}

.img4{
    width:94%;
   
    
}

.img5{
    width:90%;
}
.img6{
    width:90%;
}

.main-container > p{
    text-align: center;
}