

.main-container{
    max-width:675px;
    margin:0 auto;
}
img{

    width:100%;
    object-fit: contain;   
   
}


.gallery-designer-info{
    display:flex;
    flex-direction:column;
    align-items: center;
   
}
.gallery-designer-info > p{
    text-align: center;
    margin-bottom: 0;
   
}
.gallery-designer-info > p > img{
    align-items: center;
    width:45%
   
    
}
.other-details{
    display: flex;
    justify-content: space-evenly;
   
}
.subdetails{
    padding:0.25em;
    background-color: rgb(240, 240, 240);
    border-radius:1em;
    margin:0.5em;
    width:auto;
    
    
}

.count,
.count-cateory{
text-align: center;

}
.count
{
    margin-bottom:0%;
}
.count-category,
.location{
    color:rgb(94, 102, 97);
    margin-top: 0;
}
.increase-margin{
   padding-left:1em;
   padding-right:1em;
}


.gallery{
  display:flex;
  flex-direction:column;
  border: 2px solid green;
  justify-content: space-evenly;
}

.row{
    border: 2px solid red;
    display:flex;
    justify-content: space-evenly;
    margin:0;
    padding:0;
}

.col{
    display:flex;
    border: 2px solid purple;
    flex-direction: column;
    justify-content: space-evenly;
    margin:0;
    padding:0;
}
.sub-row1{
    display:flex;
    border: 2px solid blue;
    margin:0;
    padding:0;
}
.sub-row2{
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding:0;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6{
    margin:0;
  padding:0.5em;
  border:2px solid black;
  
}
.img1{
    width:85%;
    margin-left:1rem;
}
.img2{
    width:89%;
}

.img1,.img2{
    padding-bottom:0.5em;;
    margin-bottom:0;
}